<script type="text/html" id="commentTemp">
    <%for(var i=0;i<list.size;i++) {%>
    <div class="comment clearfix"> 
            <div class="people fl">
                <span class="icon">
                    <img src="http://comm.xiu.com/resources/comment/images/usericon/none.jpg" alt="">
                </span>
                <p class="clientName"><%=list.get(i).userName%></p>
                <a href="">已购买过此商品</a>
                <div class="tip">
                    <span class="triangle"></span>
                    <h4>什么是"已购买过此商品"的用户评论</h4>
                    <p>
                        当标有"已购买过此商品"时，则表明撰写此评论的用户在走秀网上购买过
                        此商品。这些用户的评论有助于用户在决定是否购买此商品作为参考。
                    </p>
                    <p>
                        没有"购买过此商品"的用户评论者可能通过其他途径已经购买或使用过该商品。
                        他们分享对商品的使用经验，也有助于用户另一个参考途径。
                    </p>
                </div>
            </div>
            <div class="mes fr">
                <span class="produceImg">
                    <img src= <%=list.get(i).goodsUrl+"/g1_100_100.jpg%"%> alt="">
                </span>
                <ul>
                    <li>
                        评分：<b class="star"></b>
                        <em class="tag">已获赠券</em>
                        颜色：无
                    </li>
                    <li>
                        尺码：双耳300mml
                    </li>
                    <li>
                        <%=list.get(i).comment%>
                    </li>
                    <li>
                        <a href="">
                            <%=list.get(i).goodsName%>
                        </a>
                        <p>发表于2018-08-25 11:19:56</p>
                    </li>
                </ul>
            </div>
        </div>
        <%}%>
</script>

<script type="text/html" id="goodsDetail">
     <div class="magnifier" id="magnifier1">
            <div class="magnifier-container">
                <div class="images-cover"></div>
                
                <div class="move-view"></div>
                
            </div>
            <div class="magnifier-assembly">
                
                
                <div class="magnifier-line">
                    <ul class="clearfix animation03">
                        <li>
                            <div class="small-img">
                                <img src=<%=list.get(0).url+"g1_402_536.jpg"%> />
                            </div>
                        </li>
                        <li>
                            <div class="small-img">
                                <img src=<%=list.get(0).url+"g1_402_536.jpg"%> />
                            </div>
                        </li>
                        <li>
                            <div class="small-img">
                                <img src=<%=list.get(0).url+"g1_402_536.jpg"%> />
                            </div>
                        </li>
                        <li>
                            <div class="small-img">
                                <img src=<%=list.get(0).url+"g1_402_536.jpg"%> />
                            </div>
                        </li>
                        <li>
                            <div class="small-img">
                                <img src=<%=list.get(0).url+"g1_402_536.jpg"%> />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="magnifier-view"></div>
    </div>
    
    <div class="rightIntroduce">
        <div class="introTop">
            <p class="goodsTitle">
               <%=list.get(0).goodsName%>
                <em class="discount"><%="["+list.get(0).discount?(list.get(0).discount):"无折扣"+"]"%></em>
            </p>
            <p class="subtitle">
                品&nbsp;&nbsp;&nbsp;牌 : Tasaisikyo  (多彩思居) 
                <a href="">已有27条品牌评论</a>
                <em class="goodsNum">商品编号：24020292</em>
            </p>
        </div>
        <ul class="introCenter">
            <li>
                走&nbsp;秀 价:<em class="price"><%="￥"+list.get(0).price%></em>
            </li>
            <li>
                促 &nbsp;  &nbsp;&nbsp;销:
                <span>打折</span> <em><%=list.get(0).discount%></em>
            </li> 
            <li>
                发 货 地: <em class="area">国内</em>
                <em class="arrTime"><%=list.get(0).time%></em>
            </li>
        </ul>
        <ul class="select">
            <li>
                颜 &nbsp; 色: <span> <%=list.get(0).color%> </span>
            </li>
            <li>
                尺 &nbsp; 码: <span> <%=list.get(0).size%> </span>
            </li>
            <li>
                数 &nbsp; 量:  
                <span class="count">
                    <span class="minus">-</span>
                    <input type="text" value="1" id="goodsNum">
                    <span class="plus">+</span>
                    <span class="hint">件</span>
                </span>
            </li>
            <li>
                <a class="server1" href=""> 由妍品贸易提供 </a>
                <a class="server2" href=""> 由走秀网提供售后服务</a>
            </li>
            <li>
                <a class="buy" href="javascript:;"></a>
                <a class="addShoppingcart" href="javascript:;"></a>
                <a class="collect" href="javascript:;"></a>
            </li>
            <li>
                电话订购 :  <em class="phone"> 400-888-4499 </em>   <em class="limitTime">( 09:00-19:00 )</em>
            </li>
        </ul>
        <div class="introBottom">
            <span class="bottomLeft">
                <img src="http://my.xiu.com/v3/qrcode/item/53111387" alt="" width="90" height="90">
                <p>扫一扫二维码<br>分享给朋友</p> 
            </span>
            <span class="bottomRight">
                <p>
                    分享到:
                    <a class="iconfont icon-weibo" href=""></a>
                    <a class="iconfont icon-renrenwang" href=""></a>
                    <a class="iconfont icon-icon" href=""></a>
                    <a class="iconfont icon-douban" href=""></a>
                </p>
            </span>
        </div>
    </div>
</script>

<script type="text/html" id="history">
    <%for(var i=0;i<list.size;i++) {%>
    <li>
        <img class="fl" src=<%=list.get(i).imgUrl%> alt="">
        <p class="goodsName"><%=list.get(i).goodsName%></p>
        <a href=""><%=list.get(i).goodsTitle%></a>
    </li>
    <%}%>
</script>